@keyframes fadeScaleUp {
  0% {
    opacity: 0;
    transform: scale(.7);
  }
  100% {
    opacity: 1; 
    transform: scale(1);
  }
}

.fadeScaleUp {
  animation-name: fadeScaleUp;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
