@keyframes hoverFlash {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hoverFlash:hover {
  animation-name: hoverFlash;
  animation-duration: .5s;
  animation-fill-mode: both;
}
